
.detailsSection {
  margin-left: 50px;
  line-height: 1.2;
  margin-top: 60px;
}

.detailsSection p {
  font-size: 21px;
}

.imgContainer {
  width: 100%;
}


.detailsCard {
  padding: 43px;
}

.containerMedium {
  width: 34%;
}

.searchBar {
  position: relative;
  margin: 0 auto;
}
.containerMedium input {
  padding: 8px 30px 8px 8px;
  width: 100%;
  border-radius: 0;
  font-size: 21px;
  border: 1px solid #b4b4b5;
}
.searchIcon {
  position: absolute;
  top: 50%;
  right: 18px;
  font-size: 26px;
  transform: translateY(-50%);
  cursor: pointer;
}
.searchIcon:hover {
  font-size: 25px;
}
.countriesContainer {
  width: 35%;
}
.card{
  margin: 10px;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 1px solid #b4b4b5;
}

.cardText {
  padding: 15px;
}

.countryImg {
  width: 100%;
  height: 160px;
  margin-left: 7px;
}

.cardText h2 {
  margin-bottom: 11px;
}


.cardText h2,
.cardText p {
  line-height: 0.7;
}

.btnContainer {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.btn {
  border-radius: 0;
  margin-left: 12px;
  font-size: 21px;
  border: 3px solid #3617e1;
  font-weight: bold;
}

/* styles/Loader.module.css */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 300px) and (max-width: 990px) {
  .detailsSection {
    margin-left: 0px;
    margin-top: 30px;
  }

  .detailsCard {
    padding: 20px;
  }

  .countriesContainer {
    width: 55%;
  }

  .countryImg {
    margin-left: 0px;
    height: auto;
  }

  .cardText h2,
  .cardText p {
    line-height: 0.7;
  }
}

@media (min-width: 300px) and (max-width: 384px) {
  .detailsSection p {
    font-size: 18px;
  }
  .cardText h2,
  .cardText p {
    line-height: 1;
  }

}


@media (min-width: 990px) and (max-width: 1425px) {
  .btn {
    font-size: 18px;
  }

  .countriesContainer {
    width: 60%;
  }
  .containerMedium {
    width: 59%;
  }
}

@media (min-width: 300px) and (max-width: 732px) {
  .countriesContainer {
    width: 100%;
  }

  .btn {
    font-size: 18px;
    margin-left: 19px;
  }

  .containerMedium {
    width: 100%;
  }

  .btnContainer {
    gap: 0;
  }

  .containerMedium {
    width: 96%;
  }
}

@media (min-width: 734px) and (max-width: 1160px) {
  .containerMedium {
    width: 58%;
  }
}

@media (min-width: 1425px) and (max-width: 1848px) {
  .countriesContainer {
    width: 47%;
  }
  .containerMedium {
    width: 46%;
  }
}

@media (min-width: 730px) and (max-width: 991px) {
  .countriesContainer {
    width: 66%;
  }
  .containerMedium {
    width: 64%;
  }
}

@media (min-width: 300px) and (max-width: 992px) {

  .cardText h2,
  .cardText p {
    margin-left: 6px;
  }
  
}